a{
    text-decoration: none !important;
    color: black;
}
.cart-img{
    height: 70px !important;
    width: 50px !important;
}
.product-image img{
height: 200px !important;
width: 230px !important;
object-fit: contain;
}